body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: #EAF5FF;
  color: #5a5a5a;
  overflow-x: hidden;
}

header, section {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

p {
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  color: #333333;
  margin-bottom: 24px;
  line-height: 1.5;
}

.header {
  position: relative;
  height: 862px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
}

.text-overlay {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.links a {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  color: #1a1a1a;
  margin-bottom: 10px;
  letter-spacing: 10px;
}

.details, .schedule {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.event {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.event-image {
  width: 100%;
  height: 324px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.event-text {
  position: absolute;
  bottom: 10px; /* Place the button 10px from the bottom of the image */
  width: auto;
}

/* Button alignment for Misa */
.event#misa .event-text {
  left: 10px; /* Place the button 10px from the left of the image */
}

/* Button alignment for Fiesta */
.event#fiesta .event-text {
  right: 10px; /* Place the button 10px from the right of the image */
}

.visit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  width: 100px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  text-decoration: none;
  border-radius: 50px;
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  padding-right: 2px;
}

.visit-button img {
  width: 44px;
  height: 44px;
  margin-left: 20px;
  border-radius: 100%;
}

.visit-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.notes ul {
  list-style: none;
  padding: 0;
}

.notes li {
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  color: #333333;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .text-overlay h2 {
    font-size: 20px;
  }

  .text-overlay h1 {
    font-size: 96px;
  }

  section p {
    font-size: 18px;
  }
}
